.header { 
  background-color: #fff; 
}

.content {
  margin: 0 16px;
}

.breadcrumb {
  margin: 12px 0;
}

.inner-content { 
  padding: 24px; 
  padding-bottom: 60px; 
  background-color: #fff;
  min-height: 360px; 
}

.footer {
  text-align: center;
}