.logo {
  margin: 48px 16px;
  font-family: Georgia, sans-serif;
  font-size: 1.8em;
  color: #fff;
  text-align: center;
}

.avatar {
  width: 64px;
  height: 64px;
  margin-left: 64px;
  border-radius: 32px;
}

.username {
  margin: 8px;
  color: #fff;
  text-align: center;
}

.input {
  width: 60%;
  margin-left: 20%;
}